.nci-shutdown-banner {
				background: #bb0e3d;
				padding: 15px;
			}

			.nci-shutdown-banner__body {
				max-width: 1024px;
				margin: 0 auto;
				color: white;
				font-size: 17px;
				line-height: 1.6;
				position: relative;
				padding: 0 15px 0 40px;
			}

			.nci-shutdown-banner__body:before {
				content: '';
				display: block;
				position: absolute;
				height: 26px;
				width: 26px;
				top: 0;
				left: 0;
				background: none;
				background-color: #fff;
				-webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtMmgydjJ6bTAtNGgtMlY3aDJ2NnoiLz48L3N2Zz4=) no-repeat center/contain;
				mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptMSAxNWgtMnYtMmgydjJ6bTAtNGgtMlY3aDJ2NnoiLz48L3N2Zz4=) no-repeat center/contain;
			}

			.nci-shutdown-banner__body h2 {
				font-size: 18px;
				color: white;
				margin: 0;
			}
			.nci-shutdown-banner__body a,
			.nci-shutdown-banner__body a:visited {
				color: white;
			}
