@use "../uswds-theme" as *;
@import "../variables";
@import "../mixins";

.left-nav {
	@include left-nav-menu();
}
.full-report-container {
	@include grid-row();
	@include u-width(full);
	@include at-media(tablet-lg) {
		@include grid-gap(6);
	}
}
.left-nav-container {
	@include grid-col(12);
	margin-bottom: units(2);
	@include at-media(tablet-lg) {
		@include grid-col(4);
		margin-bottom: 0;
	}
}

.report-container {
	@include grid-col(12);
	background-color: $white;
	border: 1px solid $smoke;
	padding: 0 units(4);
	@include at-media(tablet-lg) {
		@include grid-col(8);
	}
	&.top-left-nav-container {
		border: none;
		padding: 0;
		.hero-image-container {
			margin-top: 1.5rem;
		}
	}
}
