@use "uswds-core" as *;
@import "../variables";

.meeting-block {
	h4 {
		text-transform: none;
		margin-block-end: units(1.5);
		color: $mediumgrey;
	}
}
.meeting-container {
	ul.meeting-list {
		@include grid-row();
		@include grid-gap(6);
	}
	li.series-meeting {
		@include at-media("mobile") {
			width: 100%;
		}
		@include at-media("tablet") {
			max-width: 50%;
		}
		@include at-media("desktop") {
			@include grid-col(3);
		}
		margin-bottom: units(2.5);
	}
	ul.agenda-list {
		margin-top: units(1.5);
	}
	.date {
		font-weight: bold;
	}
	.location {
		font-style: italic;
	}
}
