@use "../uswds-theme" as *;
@import "../variables";
@import "../mixins";

.link-list-header {
	@include link-list-header();
}
.meeting-container {
	ul.meeting-list {
		@include link-list();
	}

	ul.agenda-list {
		@include link-list();
		margin-bottom: units(1.5);
	}
	.date {
		font-weight: bold;
		display: inline;
		div {
			display: inline;
		}
	}
	.location {
		font-style: italic;
	}
}
