@use "uswds-core" as *;
@import "../variables";

.process-container {
	@include grid-container();
}

.qna {
	@include grid-col(12);
	position: relative;
	z-index: 1;
	margin: units(10) 0;
	.question {
		display: block;
		position: relative;
		z-index: 2;
		color: $white;
		background-color: $pcpblue;
		box-shadow: units(-1.5) units(-1.5) $borderyellow;
		font-weight: bold;
		padding: units(2.5);
		margin: 0 auto;
		@include at-media("tablet") {
			@include grid-col(6);
		}
	}
	.answer {
		display: block;
		position: relative;
		z-index: 2;
		background-color: $white;
		border: 2px $pcpblue solid;
		padding: units(2.5);
		margin-top: units(4);
		@include at-media("tablet") {
			@include grid-col(10);
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		background-color: $pcpblue;
		width: 2px;
		top: 2px;
		bottom: 2px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
