@use "uswds-core" as *;
@import "../variables";
@import "../mixins";

ul.staff-list {
	@include grid-row();
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	@include at-media(tablet-lg) {
		flex-direction: row;
		@include grid-gap(2);
	}
	li {
		max-width: $mobile-constrained-max-width;
		margin: 0 auto units(2) auto;
		@include grid-col();
	}
	.member-image {
		img {
			border-radius: 50%;
		}
	}
	.member-name,
	.member-title {
		font-size: font-size("sans","lg");
		text-align: center;
	}
	.member-name {
		color: $pcpblue;
		font-weight: bold;
		padding: units(1) 0 units(0.5) 0;
	}
	.member-title {
		font-style: italic;
		padding: 0 0 units(0.5) 0;
	}
	.member-link {
		text-align: center;
		a {
			@include view-more();
			font-size: font-size("sans","md");
			margin-right: 0;
		}
	}
}

