@use "uswds-core" as *;
@import "../variables";

.top-bar {
	@include grid-row();
	justify-content: center;
	@include at-media(tablet-lg){
		justify-content: space-between;
	}
	background: $top-bar-blue repeat scroll 0 0;
	background-image: linear-gradient(to bottom, $top-bar-blue 0%, $top-bar-blue-gradient-end 100%);
	height: units(7);
	line-height: units(7);
	margin-bottom: 0;
	ul {
		list-style: none;
	}
	a.accessible-link {
		display: none;
	}
	.logo {
		display: none;
		@include at-media(tablet-lg){
			display:inline-block;
		}
	}
}
.top-bar-section {
	@include at-media(tablet-lg){
		margin-right: units(10);
	}
	ul {
		@include grid-row();
		font-size: font-size("sans",2);
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: units(0.5);
	}
	a {
		color: $white;
		display: block;
		width: 100%;
		padding: 0 units(2.5);
		line-height: units(7);
		&.active,
		&:active,
		&:hover,
		&:focus
		{
			color: $pcpblue;
			background-color: $smoke;
		}
	}
}



