@use "uswds-core" as *;
@import "../variables";
@import "../mixins";

.top-bar {
	@include top-bar-background();
	line-height: units(7);
	margin-bottom: 0;
	@include at-media(tablet-lg){
		height: units(7);
	}
	ul {
		list-style: none;
	}
}
.top-bar-container {
	@include centered-width-constrained();
	@include grid-row();
	justify-content: space-between;

	@include at-media(tablet-lg){
		align-items: center;
		flex-direction: row;
	}
}
.top-bar-section {
	display: none;
	@include at-media(tablet-lg) {
		display: block;
	}
	z-index:1;
	ul.first-tier {
		@include grid-row();
		li {
			position: relative;
		}
	}
	ul {
		font-size: font-size("sans",1);
		@include at-media(tablet){
			font-size: font-size("sans",2);
		}
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: units(0.5);
		ul.second-tier {
			position: absolute;
			top:57px;
			left: 0;
			display: none;
			li {
				margin-bottom: 0;
			}
		}
		ul.second-tier > li > a {
			background: $top-bar-blue repeat scroll 0 0;
			padding: 0 units(2.5);
			&.active,
			&:active,
			&:hover,
			&:focus
			{
				color: $pcpblue;
				background-color: $smoke;
				background-image: none;
			}
		}
		ul.third-tier {
			position: absolute;
			padding: 0 units(2.5);
			background: $top-bar-blue repeat scroll 0 0;
			display: none;
			li {
				margin-bottom: 0;
			}
			a {
				padding: 0 units(2.5) 0 units(5);
			}
			&:active,
			&:hover,
			&:focus
			{
				color: $pcpblue;
				background-color: $smoke;
			}
		}
		&:active,
		&:hover,
		&:focus
		{
			ul.second-tier {
				display: flex;
				flex-direction: column;
				width: max-content;
			}
			ul.third-tier {
				background: $top-bar-blue repeat scroll 0 0;
			}
		}
		&.second-tier {
			&:active,
			&:hover,
			&:focus
			{
				ul.third-tier {
					display: flex;
					flex-direction: column;
					width: max-content;
					background: $top-bar-blue repeat scroll 0 0;
				}
			}
		}
	}
	a {
		display: block;
		width: 100%;
		padding: 0 units(1.5) 0 units(1.5);
		line-height: units(7);
		color: $white;
		&.active,
		&:active,
		&:hover,
		&:focus
		{
			color: $pcpblue;
			background-color: $smoke;
		}
		@include at-media(tablet) {
			padding: 0 units(2.5);
		}
	}
}
.nci-header-search {
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
	@include at-media(tablet-lg){
		margin-bottom: units(2);
	}
}

.hamburger-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: inherit;
	@include at-media(tablet-lg) {
		display: none;
	}
	.bm-menu {
		@include left-nav-menu('top-navigation-link');
	}
}
.hamburger-container > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.bm-menu-wrap {
	top: 0;
}
.bm-overlay {
	top: 0;
}
/* Position and sizing of burger button */
.bm-burger-button {
	margin-left: units(2);
	position: relative;
	button {
		width: units(2.5);
		height: units(2);
		&:focus {
			outline: none;
		}
		&:not([disabled]){
			&:focus {
				outline: none;
			}
		}
	}
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
	button {
		&:focus {
			outline: none;
		}
		&:not([disabled]){
			&:focus {
				outline: none;
			}
		}
	}
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}
