// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
h1, h2, h3,
h4, h5, h6 {
    text-transform:uppercase;
}

h1, h2 {
    text-align: center;
}

article {
    background-color: $white;
}

.section:not(.meeting) { 
    .node-pcp-section {
        text-align: center;
        overflow: hidden;
        
        .field {
            text-align: left;
        }

        h2{
            display: inline-block;
            overflow: visible;
            position: relative;


            &:before {
                content: "";

                position: absolute;
                width: 15vw;
                left: -17vw;
                height: 1px;
                top: 50%;
                margin: 0 rem-calc(30) rem-calc(10) 0;
                background-color: $mediumgrey;
                display: inline-block;
                opacity: 0.3;
            }

            &:after {
                content: "";

                position: absolute;
                width: 15vw;
                right: -17vw;
                height: 1px;
                top: 50%;
                margin: 0 0 rem-calc(10) rem-calc(30);
                background-color: $mediumgrey;
                display: inline-block;
                opacity: 0.3;
            }
        }
    }
}

.section.meeting h2{
    text-transform: none;
}

// Anchors
//-----------------------------------------------------------------------------
a {
    color: $pcpanchor;
}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}

// font-color:#414141;
// line-height:1.3;
// font-size:16px;

ul, ol, dl {
    list-style: none;
    margin-left: 0;
}

.item-list ul li {
    margin-left: 0;
}