@use "uswds-core" as *;

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $pcpblue;
	&.node-title,
	&.report-section-title {
		text-transform: none;
	}
}
h1 {
	font-size: font-size('sans','xl');
}
h2 {
	font-size: font-size('sans',11);
}
h3 {
	font-size:font-size('sans',10);
}
h4 {
	font-size:font-size('sans',8);
}
a {
	color: $pcpanchor;
	text-decoration: none;
	word-wrap: break-word;
	&:hover,
	&:focus {
		color: $pcphoverblue;
	}
	&:hover {
		cursor: pointer;
	}
	&.no-link-display,
	&.no-link-display:hover,
	&.no-link-display:focus
	{
		cursor: default;
		color: $pcptextcolor;
	}
}
[href] {
	&:focus,
	&:active {
		outline: none;
	}
}
p {
	line-height: units(3);
	margin-bottom: units(2.5);
}
ul {
	line-height: units(3);
	font-size: font-size('sans',7);
	list-style: disc outside;
	margin-left: units(2);
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}
.hidden {
	display: none;
}
.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
.desktop-float-right {
	@include at-media(desktop) {
		float: right;
		margin-left: units(2);
	}
}
.float-right {
	float: right;
	margin-left: units(2);
}
.float-left {
	float: left;
	margin-right: units(2);
}
.pdf-icon {
	background-image: url('../images/application-pdf.png');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: units(2) auto, cover;
	padding-left: units(2);
}
.desktop-constrained {
	@include centered-width-constrained();
}
table.agenda-table {
	padding: units(1.5);
	width: 100%;
	td {
		vertical-align: top;
	}
	tr > td:first-child {
		width: 40%;
		@include at-media(tablet){
			width: 30%;
		}
	}
	tr > td:nth-child(2) {
		width: 60%;
		@include at-media(tablet){
			width: 70%;
		}
	}
}
.byline {
	text-transform: uppercase;
}
