// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin section-border {
    border: none;
    border-top: 4px solid $borderyellow;
}

@mixin scale-width($width-limit: 90vw) {
    position: relative;
    width: $width-limit;
    left: calc(-#{$width-limit} / 2 + 50%);
}

@mixin visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}