// Non-modular or client styles for .l-footer region.
.l-footer {
    border: none;
    background: transparent;

    font-size:rem-calc(21); // 42
    line-height:1.3;
    p {
        font-size:rem-calc(21); // 42
        line-height:1.3;    
    }
    
    h3, .connect-icons {
        text-align: left;
        margin: $column-gutter/2 0;
    }
    
    .connect-icon {
        margin-right: $column-gutter;
    }
    
    .footer-endcap {
        background-color: $pcpblue;
        min-height: 3rem;
    }
    
    .section {
        padding-bottom: 0;
    }
}
