// Non-modular or client styles for .l-header region.
.title-area .logo {
    z-index: 500;
    position: relative;
}

.l-header {

    background-image: none, url('../images/header-background-with-dots.png');
    background-image: url('../images/header-dot.svg'),
        url('../images/header-background.png'),
        linear-gradient(transparent, transparent);
    background-position: center center, center bottom;
    background-repeat: space, no-repeat;
    background-size: 3px auto, cover;

    .row {
        padding: $column-gutter/2 0;
    }
}


// Headings
h1#site-name {
    color: $pcpblue;
    font-size: rem-calc(33); // 66
    font-weight: bold;

    @media #{$small-only} {
        font-size: rem-calc(20);
    }
}
header .site-slogan {
    text-align: center;
    font-size: rem-calc(20);
    color: $pcpblue;

    position: relative;
    width: 20rem;
    margin: 0 auto;
    left: 0;
    right: 0;

    @media #{$small-only} {
        font-size: rem-calc(16);
        line-height: 1.2;
        width: 16rem;
    }
}

// Opera 12.16 and IE9 - don't have 3d transforms
.csstransforms.no-csstransforms3d {
  .left-off-canvas-menu { @include translate2d(-100%, 0); }
  .right-off-canvas-menu { @include translate2d(100%, 0); }

  .move-left > .inner-wrap { @include translate2d(-($off-canvas-width),0); }
  .move-right > .inner-wrap { @include translate2d($off-canvas-width,0); }
}

aside.left-off-canvas-menu {
    position: fixed;
    top: 0;
    left: 0;

    ul li a {
        display: block;
        text-transform: uppercase;
        padding: $column-gutter/2 $column-gutter;
        border-bottom: 1px $smoke solid;
    }
}

/*header div.sticky:not(.fixed) .top-bar{

    @media #{$large-up} {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
}*/
