@use "uswds-core" as *;
@import "variables";

@mixin visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

@mixin view-more {
	background: url('../../svg/about-chevron-collapsed.svg') no-repeat, // because this mixin is included from the components folder we need an extra ../ in the URL
		linear-gradient(transparent, transparent);
	background-size: auto units(2);
	background-position: right units(1) center;
	margin-right: units(4);
	padding-right: units(4);
}
@mixin link-list-header {
	text-transform: none;
	margin-block-end: units(1.5);
	margin-block-start: units(2);
	font-weight: bold;
	color: $pcptextcolor;
}

@mixin link-list {
	font-size: font-size("sans", "xs");
	list-style: none;
	margin-top: units(1);
	li::before {
		content: "\2022";
		color: $pcpanchor;
		font-weight: bold;
		display: inline-block;
		width: units(1.5);
		margin-left: units(-1.5);
	}
}

@mixin left-nav-menu($linkclass: 'left-nav-item') {
	background-color: $white;
	border: 1px solid $smoke;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a.#{$linkclass},
	a.#{$linkclass}:visited {
		@include left-nav-item();
	}
	@if $linkclass == 'top-navigation-link' {
		ul.second-tier {
			a {
				padding-left: units(6);
			}
		}
		ul.third-tier {
			a {
				padding-left: units(8);
			}
		}
	} @else {
		&.top-nav-list {
			margin-top: units(3);
			ul.second-tier {
				a {
					padding-left: units(6);
				}
			}
			ul.third-tier {
				a {
					padding-left: units(8);
				}
			}
		}
	}
}

@mixin left-nav-item {
	display: block;
	border-bottom: 1px solid $smoke;
	padding: units(1.5) units(4);
	position: relative;
	font-weight: normal;
	&:hover {
		color: $white;
		background-color: $cardblue;
	}
	&.active {
		color: $black;
		background-color: $cardlightblue;
		&[aria-current="page"] {
			color: $white;
			background-color: $carddarkblue;
			&:after {
				@include at-media(tablet-lg) {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: units(1) 0 units(1) units(1);
					border-color: transparent transparent transparent $carddarkblue;
					position: absolute;
					right: units(-1);
					top: calc(50% - 10px);
					-webkit-transform: rotate(360deg)
				}
			}
		}
	}
}

@mixin centered-width-constrained {
	max-width: $desktop-container-max-width;
	margin-left: auto;
	margin-right: auto;
}
@mixin centered-mobile-constrained {
	max-width: $mobile-constrained-max-width;
	margin-left: auto;
	margin-right: auto;
}
@mixin top-bar-background {
	background: $top-bar-blue repeat scroll 0 0;
	background-image: linear-gradient(to bottom, $top-bar-blue 0%, $top-bar-blue-gradient-end 100%);
}

@mixin bp-tablet-only {
	@media all and (min-width: $tablet-min-width) and (max-width: $tablet-max-width){
		@content;
	}
}

@mixin bp-tablet-lg-only {
	@media all and (min-width: $tablet-min-width) and (max-width: $tablet-lg-max-width){
		@content;
	}
}

@mixin bp-mobile-and-tablet-only {
	@media all and (min-width:0em) and (max-width: $tablet-max-width){
		@content;
	}
}

@mixin bp-mobile-and-tablet-lg-only {
	@media all and (min-width:0em) and (max-width: $tablet-lg-max-width){
		@content;
	}
}

@mixin bp-mobile-only {
	@media all and (min-width:0em) and (max-width: $mobile-max-width) {
		@content;
	}
}

