@use "uswds-core" as *;
@import "variables";

@mixin visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

@mixin view-more {
	background: url('../../svg/about-chevron-collapsed.svg') no-repeat, // because this mixin is included from the components folder we need an extra ../ in the URL
		linear-gradient(transparent, transparent);
	background-size: auto units(2);
	background-position: right units(1) center;
	margin-right: units(4);
	padding-right: units(4);
}

@mixin bp-tablet-only {
	@media all and (min-width: $tablet-min-width) and (max-width: $tablet-max-width){
		@content;
	}
}

@mixin bp-tablet-lg-only {
	@media all and (min-width: $tablet-min-width) and (max-width: $tablet-lg-max-width){
		@content;
	}
}

@mixin bp-mobile-and-tablet-only {
	@media all and (min-width:0em) and (max-width: $tablet-max-width){
		@content;
	}
}

@mixin bp-mobile-and-tablet-lg-only {
	@media all and (min-width:0em) and (max-width: $tablet-lg-max-width){
		@content;
	}
}

@mixin bp-mobile-only {
	@media all and (min-width:0em) and (max-width: $mobile-max-width) {
		@content;
	}
}

